// Flexbox display row
@mixin flexboxrow() {
      display: flex;
      // flex-direction: row;
      align-content: center;
      justify-items: center;
      align-items: center;
}

@mixin link_a() {
      text-decoration: none;
      color: #000;
}