// Colors
$primary: #00b8b0;
$secondary: #263d55;
$brown: #c4a073;

$dark: #30353c;
$dark-light: #666d76;
$gray: #ebebeb;
$gray-dark: #cecece;
$white: #fff;
$bgdGradient: linear-gradient(to bottom, $primary, rgba(255, 255, 255, 0.6));